<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userService" class="com.kojikoji.springframework.test.bean.UserService" scope="singleton">
        <property name="uId" value="10001"/>
        <property name="userDao" ref="proxyUserDao"/>
        <property name="location" value="深圳"/>
        <property name="company" value="华为"/>
    </bean>

    <bean id="proxyUserDao" class="com.kojikoji.springframework.test.bean.ProxyBeanFactory"/>

</beans>