<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.kojikoji.springframework.test.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>

    <bean id="userService" class="com.kojikoji.springframework.test.bean.UserService">
        <property name="uId" value="100001"/>
        <property name="userDao" ref="userDao"/>
        <property name="location" value="深圳"/>
        <property name="company" value="华为"/>
    </bean>

</beans>